<html ng-app="app" ng-controller="controller">
    <head>
        <meta charset="utf-8">
            <meta name="format-detection" content="telephone=no">
                <meta name="msapplication-tap-highlight" content="no">
                    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
                        <title></title>
                            <link href="css/main.css" rel="stylesheet" rev="stylesheet" type="text/css">
                                <script type="text/javascript" src="js/angular.min.js"></script>
                                <script type="text/javascript" src="js/angular-touch.min.js"></script>
                                <style type="text/css">
                                		.space{
                                			width: 1px;
                                			height: 1px;
                                		}
                                </style>
    </head>
    <body style="height: {{getH}}px;">
        <div id="all" style="-webkit-transform:scale({{scale}});transform:scale({{scale}});">
            <div id="main">
            	<div class="space"></div>
                <div class="group" ng-repeat="(groupID,group) in data track by $index">
                    <div class="groupTop">
                        <checkbox ng-model="group.payCheck"></checkbox>
                        <div class="groupTitle">
                            {{$scope.good["ID_"+group.good[0]].shopName}}
                        </div>    
                    </div>
                    <div class="good" ng-repeat="n in group.good track by $index">
                        <checkbox ng-model="n.payCheck"></checkbox>
                        <img ng-src="n.icon" class="left"/>
                        <div class="center">
                            <div class="title">{{n.name}}</div>
                            <div class="dsc">{{n.dsc}}</div>
                            <div class="clear"></div>
                            <div class="overplus">{{n.overplus}}</div>
                            <div class="shellCount">{{n.shellCount}}</div>
                            <div class="clear"></div>
                        </div>
                        <div class="right">
                            <div class="price">{{n.price}}</div>
                            <div class="shopName">{{n.shopName}}</div>
                            <div class="countFrame">
                                <button ng-click="sub(n._id)">-</button>
                                <input ng-model="n.count"/>
                                <button ng-click="add(n._id)">+</button>
                                <div class="clear"></div>
                            </div>
                            <button ng-click="paySingle(n._id)">直接购买</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <button ng-click="pay">购买</button>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript" src="js/socketIo.js"></script>
        <script type="text/javascript">
            angular.module('app', []).controller('controller', ['$scope','$window','$timeout',function($scope,$window,$timeout) {
                //自适应用
                $scope.scale = $window.innerWidth/750;
                $window.onresize=function(){
                   $scope.scale = $window.innerWidth/750;
                    $scope.getH = document.getElementById('all').clientHeight*$scope.scale;
                    $scope.$apply();
                }
                //数据
                $scope.buyList={};
                $scope.goodID=[];
                $scope.good={};
                $scope.data={};
                $scope.config={};
                $timeout(function(){
                   $scope.getH = document.getElementById('all').clientHeight*$scope.scale; 
                },300);
                //socket
                var socket = io("http://192.168.1.105:8888");
                socket.on('connected', function (data) {
		            console.log(data);
		            if(localStorage.getItem('tk')){
		                socket.emit('tk',{tk:localStorage.getItem('tk')});
		            }
		        });
		        socket.on('tk',function(data){
		            if(data.tk){
		                localStorage.setItem('tk',data.tk);
                        for(var i=0;i<=data.user.shoppingCart.length;i++){
                            $scope.goodID.push(data.user.shoppingCart[i]._id);
                            if(!$scope.data[data.user.shoppingCart[i].shop]){
                                $scope.data[data.user.shoppingCart[i].shop]={payCheck:false,good:[]};
                            }
                            $scope.data[data.user.shoppingCart[i].shop].push(data.user.shoppingCart[i]._id);
                        }
                        socket.emit('server',{model:'good',action:'search',data:$scope.goodID});
		            }else{
		                localStorage.removeItem('tk');
		            }
		        });
		        socket.on('err',function(data){
		            alert(data.errDsc);
		        });
                socket.on('goodSearch',function(data){
                    for(var i=0;i<data.length;i++){
                        $scope.good["ID_"+data[i]._id]=data[i];
                        $scope.good["ID_"+data[i]._id].count=0;
                        $scope.good["ID_"+data[i]._id].payCheck=false;
                    }
                });
		        //action
		        $scope.change=function(){
		        	socket.emit('server',{model:'user',action:'login',data:$scope.data});
		        };
                $scope.appPlace=function(){
                    $scope.data.place.push({provinceID:"",cityID:""});
                }
            }]);

        </script>
    </body>
</html>
